<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/user/single" enctype="multipart/form-data">
      <input type="text" placeholder="name" name="name" />
      <input type="number" placeholder="price" name="price" />
      <input type="file" name="images" />
      <input type="submit" value="save file" />
    </form>
  </body>
</html>
